{% extends 'manager/skeleton.html' %}

{% block body %}
    <main class="main-content">

        <!-- Main Navbar -->
        {% include 'manager/layout/header.html' %}
        <!-- / .main-navbar -->

        <!-- Top -->
        <div class="top-full-width">
        {% block top %}{% endblock %}
        </div>
        <!-- End Top -->

        <!-- Content -->
{#                {% include 'admin/home.html' %}#}
        <div class="container flex-grow-1">
        {% block content %}{% endblock %}
        </div>
        <!-- End Content -->

        {% include 'manager/layout/footer.html' %}
    </main>
{% endblock %}

{#{% extends 'manager/layout-sidebar.html' %}#}
