{% extends 'manager/skeleton.html' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <!-- Main Sidebar -->
            {% include 'manager/layout/sidebar.html' %}
            <!-- End Main Sidebar -->
            <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
                <!-- Main Navbar -->
                {% include 'manager/layout/header.html' %}
                <!-- / .main-navbar -->

                <!-- Content -->
{#                {% include 'admin/home.html' %}#}
                {% block content %}{% endblock %}
                <!-- End Content -->

                {% include 'manager/layout/footer.html' %}
            </main>
        </div>
    </div>
{% endblock %}
