// django inventor variables
$di-transition: all 0.3s ease;
$di-font-size: 14px;

@font-face {
    font-family: "Ubuntu";
    src: url("../node_modules/typeface-ubuntu/files/ubuntu-latin-300.woff2");
    font-weight: 300;
}
@font-face {
    font-family: "Ubuntu";
    src: url("../node_modules/typeface-ubuntu/files/ubuntu-latin-400.woff2");
    font-weight: 400;
}
@font-face {
    font-family: "Ubuntu";
    src: url("../node_modules/typeface-ubuntu/files/ubuntu-latin-500.woff2");
    font-weight: 500;
}
@font-face {
    font-family: "Ubuntu";
    src: url("../node_modules/typeface-ubuntu/files/ubuntu-latin-700.woff2");
    font-weight: 700;
}
@font-face {
    font-family: "Ubuntu";
    src: url("../node_modules/typeface-ubuntu/files/ubuntu-latin-300italic.woff2");
    font-style: italic;
    font-weight: 300;
}
@font-face {
    font-family: "Ubuntu";
    src: url("../node_modules/typeface-ubuntu/files/ubuntu-latin-400italic.woff2");
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: "Ubuntu";
    src: url("../node_modules/typeface-ubuntu/files/ubuntu-latin-500italic.woff2");
    font-style: italic;
    font-weight: 500;
}
@font-face {
    font-family: "Ubuntu";
    src: url("../node_modules/typeface-ubuntu/files/ubuntu-latin-700italic.woff2");
    font-style: italic;
    font-weight: 700;
}


/* override fontawesome */
$fa-font-path: "../node_modules/@fortawesome/fontawesome-free/webfonts";

/* override bootstrap */
//$grid-breakpoints: (
//    2x: 1600px,
//    3x: 1900px,
//);

//$border-color: lighten(map_get($theme-colors, light), 20%);
$breadcrumb-padding-y: 0;
$breadcrumb-padding-x: 0;
$breadcrumb-margin-bottom: 0;
$breadcrumb-bg: transparent;
$link-hover-decoration: none;
