{% extends 'layout.html' %}
{% load i18n static thumbnail %}

{% block top_full_width %}
    <div class="top-full-width container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md py-4">
                    <h1>{{ object.title }}</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'inventor:home' %}">{% trans 'Home' %}</a></li>
                            <li class="breadcrumb-item"><a href="{{ object.listing_class.get_list_url }}">{{ object.get_listing_type_display_plural|title }}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{% trans 'Detail' %}</li>
                        </ol>
                    </nav>
                </div>
                {% if object.price %}
                    <div class="col-md-auto py-4 d-flex align-items-center">
                        <div class="p-4 bg-primary text-white">
                            <h4 class="mb-0">{{ object.get_price_display }}</h4>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container-fluid second-navbar">
        <div class="container">
            <div class="row">
                <div class="col-sm d-flex align-items-center">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                                aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="#"><i class="mr-2 fa fa-image"></i> {% trans 'Gallery' %}<span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#"><i class="mr-2 fa fa-pen"></i> {% trans 'Description' %}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#"><i class="mr-2 fa fa-list"></i> {% trans 'Amenities' %}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#"><i class="mr-2 fa fa-video"></i> {% trans 'Video' %}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#"><i class="mr-2 fa fa-map-marker-alt"></i> {% trans 'Location' %}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#"><i class="mr-2 fa fa-image"></i> {% trans 'Contact' %}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#"><i class="mr-2 fa fa-star"></i> {% trans 'Reviews' %}</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container py-5">
        <div class="row">
            <div class="col-md-8">
                <img class="img-fluid mb-4" src="{% thumbnail object.image '750' as preview %}{{ preview.url }}{% endthumbnail %}">
                <section class="mb-4">
                    {% for album in object.album_set.all %}
                        <h2>{{ album.title }}</h2>
                        <p>{{ album.description }}</p>
                        {% for photo in album.photo_set.all %}
                            {#                        <img class="img-thumbnail" src="{{ photo.file.url }}">#}
                            <img class="img-thumbnail" src="{% thumbnail photo.file '150' as thumbnail %}{{ thumbnail.url }}{% endthumbnail %}">
                        {% endfor %}
                    {% endfor %}
                </section>
                <section class="mb-4">
                    <h2>{% trans 'Description' %}</h2>
                    <p>
                        {{ object.description }}
                    </p>
                </section>

                {% if object.amenities.exists %}
                    <section class="mb-4">
                        <h2>{% trans 'Amenities' %}</h2>
                        <div class="row">
                            {% for amenity in object.amenities.all %}
                                <div class="col-md-3">{{ amenity }}</div>
                            {% endfor %}
                        </div>
                    </section>
                {% endif %}

                <section class="mb-4">
                    <h2>{% trans 'Features' %}</h2>
                    <div class="row">
                        {% for feature in object.features.all %}
                            <div class="col-auto">
                                <div class="card p-3 bg-primary text-white mb-3">{{ feature }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </section>
                <section class="mb-4">
                    <h2>{% trans 'Videos' %}</h2>
                    {% for video in object.videos.all %}
                        <div>{{ video }}</div>
                    {% endfor %}
                </section>
            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>

{#    <div class="container">#}
{#        <div class="row my-5">#}
{#            <div class="col-12">#}
{#                <h2>{{ object.title }}</h2>#}
{#                <div><b>slug</b>: {{ object.slug|default:'-' }}</div>#}
{#                <div><b>description</b>: {{ object.description|default:'-' }}</div>#}
{#                <div><b>author</b>: {{ object.author|default:'-' }}</div>#}
{#                <div><b>published</b>: {{ object.published|default:'-' }}</div>#}
{#                <div><b>promoted</b>: {{ object.promoted|default:'-' }}</div>#}
{#                <div><b>categories</b>: {{ object.categories.all|default:'-' }}</div>#}
{#                <div><b>features</b>: {{ object.features.all|default:'-' }}</div>#}
{#                <div><b>price_starts_at</b>: {{ object.price_starts_at|default:'-' }}</div>#}
{#                <div><b>price</b>: {{ object.price|default:'-' }}</div>#}
{#                <div><b>price_unit</b>: {{ object.price_unit|default:'-' }}</div>#}
{#                <div><b>location</b>: {{ object.location|default:'-' }}</div>#}
{#                <div><b>street</b>: {{ object.street|default:'-' }}</div>#}
{#                <div><b>postcode</b>: {{ object.postcode|default:'-' }}</div>#}
{#                <div><b>city</b>: {{ object.city|default:'-' }}</div>#}
{#                <div><b>country</b>: {{ object.country|default:'-' }}</div>#}
{#                <div><b>point</b>: {{ object.point|default:'-' }}</div>#}
{#                <div><b>image</b>: {{ object.image|default:'-' }}</div>#}
{#                <div><b>banner</b>: {{ object.banner|default:'-' }}</div>#}
{#                <div><b>person</b>: {{ object.person|default:'-' }}</div>#}
{#                <div><b>phone</b>: {{ object.phone|default:'-' }}</div>#}
{#                <div><b>email</b>: {{ object.email|default:'-' }}</div>#}
{#                <div><b>website</b>: {{ object.website|default:'-' }}</div>#}
{#                <div><b>social_networks</b>: {{ object.social_networks|default:'-' }}</div>#}
{#                <div><b>comments</b>: {{ object.comments|default:'-' }}</div>#}
{#                <div><b>created</b>: {{ object.created|default:'-' }}</div>#}
{#                <div><b>modified</b>: {{ object.modified|default:'-' }}</div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{% endblock %}