{% extends 'layout.html' %}
{% load i18n static pragmatic_tags %}

{% block main_class %}bg-gray-100{% endblock %}

{% block top_full_width %}
{#    <div class="container-fluid" style="background-color:#F9F9F9; border-bottom: 1px solid #D7D7D7;">#}
    <div class="top-full-width container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-12 py-4">
                    <h1>{{ title|title }}</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'inventor:home' %}">{% trans 'Home' %}</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'listings:listing_list' %}">{% trans 'Listings' %}</a></li>
{#                            <li class="breadcrumb-item active" aria-current="page">Data</li>#}
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row py-5">
            <side class="col-md-3">
                <div class="card p-4">
                    {% include 'helpers/filter-vertical.html' %}
                </div>
            </side>
            <div class="col-md-9">
                <div class="queryset-actions row">
{#                    <div class="col-sm-auto">{% include 'helpers/filter-modal.html' with asynchronous_load=True small=True %}</div>#}
{#                    <div class="col-sm d-none d-lg-block">{% filter_values filter %}</div>#}
                    <div class="col-sm"></div>
                    {% sorting %}
                    {% display_modes %}
                </div>
                <div class="row">
                    {% for object in object_list %}
                        <div class="col-md-4">
                            {% include 'listings/widgets/listing_item.html' %}
                        </div>
                    {% empty %}
                        {% trans 'No data to display' %}
                    {% endfor %}
                </div>

                {% paginator page_obj %}
            </div>
        </div>
    </div>
{% endblock %}