{% extends 'layout.html' %}
{% load i18n static thumbnail crispy_forms_tags %}

{% block main_class %}bg-gray-100 listing-detail{% endblock %}

{% block top_full_width %}
    <div class="top-full-width-detail container-fluid" style="background-image: url('{{ object.image.url }}')">
        <div class="container">
            <div class="row">
                <div class="col-md py-4 mb-3">
{#                    <nav aria-label="breadcrumb" class="mb-2">#}
{#                        <ol class="breadcrumb">#}
{#                            <li class="breadcrumb-item"><a href="{% url 'inventor:home' %}">{% trans 'Home' %}</a></li>#}
{#                            <li class="breadcrumb-item"><a href="{{ object.listing_class.get_list_url }}">{{ object.get_listing_type_display_plural|title }}</a></li>#}
{#                            <li class="breadcrumb-item active" aria-current="page">{% trans 'Detail' %}</li>#}
{#                        </ol>#}
{#                    </nav>#}
                    <a href="{{ object.get_list_url }}" class="listing-category d-inline-block mb-2">
                        {{ object.get_listing_type_display }}
                    </a>
                    <h1 class="mb-3">{{ object.title }}</h1>
{#                    <span class="listing-category d-inline-block mb-3">#}
{#                        {{ object.get_listing_type_display }}#}
{#                    </span>#}
                    <span class="text-secondary d-block mb-1">
                        <i class="fas fa-fw fa-map-marker-alt mr-2 text-light opacity-50p"></i>
                        <span>{{ object.locality }}</span>
                    </span>
                    {% if object.price %}
                        <span class="text-secondary d-block mb-1">
                            <i class="fas fa-fw fa-money-bill mr-2 text-light opacity-50p"></i>
                            <span>{{ object.get_price_display|capfirst }}</span>
                        </span>
                    {% endif %}
                    {% if object.categories.exists %}
                        <span class="text-secondary d-block">
                            <i class="fas fa-fw fa-folder mr-2 text-light opacity-50p"></i>
                            {% for category in object.categories.all %}
                                <a class="text-secondary" href="{{ category.get_absolute_url }}">{{ category }}{% if not forloop.last %}, {% endif %}</a>
                            {% endfor %}
                        </span>
                    {% endif %}
                </div>
{#                {% if object.price %}#}
{#                    <div class="col-md-auto py-4 d-flex align-items-center">#}
{#                        <div class="p-4 bg-primary text-white">#}
{#                            <h4 class="mb-0">{{ object.get_price_display }}</h4>#}
{#                        </div>#}
{#                    </div>#}
{#                {% endif %}#}
            </div>
        </div>
    </div>
    <div class="container-fluid second-navbar">
        <div class="container">
            <div class="row">
                <div class="col-sm d-flex align-items-center">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                                aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                {% if object.album_set.exists %}
                                    <li class="nav-item active">
                                        <a class="nav-link" href="#gallery"><i class="mr-2 fa fa-image"></i> {% trans 'Gallery' %}<span class="sr-only">(current)</span></a>
                                    </li>
                                {% endif %}
                                {% if object.description %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="#description"><i class="mr-2 fa fa-pen"></i> {% trans 'Description' %}</a>
                                    </li>
                                {% endif %}
                                {% if all_amenities %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="#amenities"><i class="mr-2 fa fa-list"></i> {% trans 'Amenities' %}</a>
                                    </li>
                                {% endif %}
                                <li class="nav-item">
                                    <a class="nav-link" href="#features"><i class="mr-2 fa fa-list"></i> {% trans 'Features' %}</a>
                                </li>
                                {% if object.videos.exists %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="#videos"><i class="mr-2 fa fa-video"></i> {% trans 'Video' %}</a>
                                    </li>
                                {% endif %}
                                <li class="nav-item">
                                    <a class="nav-link" href="#"><i class="mr-2 fa fa-map-marker-alt"></i> {% trans 'Location' %}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#"><i class="mr-2 fa fa-image"></i> {% trans 'Contact' %}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#"><i class="mr-2 fa fa-star"></i> {% trans 'Reviews' %}</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container py-5">
        <div class="row">
            <div class="col-md-8">
{#                {% if object.image %}#}
{#                    <img class="img-fluid mb-4" src="{% thumbnail object.image '750' as preview %}{{ preview.url }}{% endthumbnail %}">#}
{#                {% endif %}#}
                {% if object.album_set.exists %}
                    <section class="mb-5" id="gallery">
                        <h2>{% trans 'Gallery' %}</h2>

                        <div class="card shadow-sm border-0 shadow-sm bg-white px-4 pt-4 pb-1">
                        {% for album in object.album_set.all %}
                            <b class="text-secondary">{{ album.title }}</b>
                            {% if album.description %}<p>{{ album.description }}</p>{% endif %}
                            <div class="row mx-n1 gallery mb-3">
                            {% for photo in album.photo_set.all %}
                                <div class="col-xl-2 col-md-3 col-sm-4 col-4 p-1">
                                    <a class="gallery-thumbnail" href="{{ photo.file.url }}"
                                       style=" background-image: url('{% thumbnail photo.file '500' as thumbnail %}{{ thumbnail.url }}{% endthumbnail %}')"></a>
                                </div>
                            {% endfor %}
                            </div>
                        {% endfor %}
                        </div>
                    </section>
                {% endif %}
                {% if object.description %}
                    <section class="mb-5" id="description">
                        <h2>{% trans 'Description' %}</h2>
                        <div class="card shadow-sm border-0 bg-white p-4">
                            <p class="text-light mb-0">
                                {{ object.description|linebreaksbr }}
                            </p>
                        </div>
                    </section>
                {% endif %}

                {% if all_amenities %}
                    <section class="mb-5" id="amenities">
                        <h2>{% trans 'Amenities' %}</h2>
                        <div class="card shadow-sm border-0 bg-white p-4">
                            <div class="column-count-xl-4 column-count-lg-3 column-count-sm-2 column-count-1">
                                {% for amenity in all_amenities %}
                                    <div class="mb-2 text-secondary"><i class="fad fa-{% if amenity in amenities %}check-circle text-success{% else %}times-circle text-danger{% endif %} fa-lg mr-3"></i>{{ amenity }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </section>
                {% endif %}

                <section class="mb-5" id="features">
                    <h2>{% trans 'Features' %}</h2>
{#                    <div class="card shadow-sm border-0 bg-white p-4">#}
                        <div class="row">
                            {% for feature in all_features %}
                                <div class="col-auto">
                                    {% if feature in features %}
                                        <div class="bg-info card shadow-sm border-0 border-info d-block rounded text-white px-3 py-2 mb-3">
                                            <i class="fas fa-check mr-2"></i>
                                            {{ feature }}
                                        </div>
                                    {% else %}
                                        <div class="bg-white card shadow-sm border-0 d-block rounded text-light px-3 py-2 mb-3">
                                            <i class="fas fa-times mr-2"></i>
                                            {{ feature }}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
{#                    </div>#}
                </section>

                {% if object.videos.exists %}
                    <section class="mb-5" id="videos">
                        <h2>{% trans 'Videos' %}</h2>
                        {% for video in object.videos.all %}
                            <div>{{ video }}</div>
                        {% endfor %}
                    </section>
                {% endif %}
            </div>
            <div class="col-md-4">
                {% if form %}
                    <h4 class=" mt-2">{% trans 'Booking form' %}</h4>
                    <div class="card shadow-sm border-0 bg-white p-4 mb-5">
                        {% crispy form %}
                    </div>
                {% endif %}

                {% if object.point or object.address %}
                    <h4 class=" mt-2">{% trans 'Location' %}</h4>
                    <div class="card shadow-sm border-0 bg-white p-4 mb-5">
                        {% if object.point %}
                            <div class="card border-0 bg-white mb-4">
                                <a target="_blank" class="d-flex flex-column align-items-center bg-white p-4"
                                   href="https://www.google.com/maps/search/?api=1&query={{ object.point.y }},{{ object.point.x }}">
                                    <img class="" src="{% static 'images/google_maps_logo.png' %}" alt="Google Maps logo" width="168" height="164">
                                    <p class="text-center text-secondary mb-0"><strong>Referencie a poloha v google mapách</strong></p>
                                </a>
                            </div>
                        {% endif %}

                        <p class="text-secondary d-flex flex-row mb-0">
                            <i class="fas fa-fw fa-map-marker-alt text-primary mr-3 mt-1"></i>
                            <span class="d-block">{{ object.address|linebreaksbr|default:'-' }}</span>
                        </p>
                    </div>
                {% endif %}

                {% if object.person or object.phone or object.email or object.website %}
                    <h4 class=" mt-2">{% trans 'Contact' %}</h4>
                    <div class="card shadow-sm border-0 bg-white p-4 mb-5 position-relative">
                        <div class="contact-content">
                            <p class="text-secondary">
                                <i class="fas fa-fw fa-user text-primary mr-3 text"></i>{{ object.person|default:'-' }}
                            </p>
                            <p class="text-secondary">
                                <i class="fas fa-fw fa-phone-alt text-primary mr-3"></i>{% if object.phone %}<a class="text-secondary" href="tel:{{ object.phone }}">{{ object.phone }}</a>{% else %}-{% endif %}
                            </p>
                            <p class="text-secondary">
                                <i class="fas fa-fw fa-at text-primary mr-3"></i>{% if object.email %}<a class="text-secondary" href="mailto:{{ object.email }}">{{ object.email }}</a>{% else %}-{% endif %}
                            </p>
                            <p class="text-secondary mb-0">
                                <i class="fas fa-fw fa-globe text-primary mr-3"></i>{% if object.website %}<a class="text-secondary" target="_blank" href="{{ object.website }}">{{ object.website }}</a>{% else %}-{% endif %}
                            </p>
                        </div>
                        <button class="btn btn-primary position-absolute-middle btn-lg show-contact">{% trans 'Show more' %}</button>
                    </div>
                {% endif %}

{#                {% if object.point %}#}
{#                    <div class="card shadow-sm border-0 bg-white p-4 mb-5">#}
{#                        <h4 class="">{% trans 'Location' %}</h4>#}
{#                        todo link and img #}
{#                        <a target="_blank" class="d-flex flex-column align-items-center bg-white p-4" href="#">#}
{#                            <img class="" src="https://sirava.sk/wp-content/uploads/2017/11/google_maps_logo.png" alt="" width="168" height="164">#}
{#                            <p class="text-center text-secondary mb-0"><strong>Referencie a poloha v google mapách</strong></p>#}
{#                        </a>#}
{#                    </div>#}
{#                {% endif %}#}

                {% if object.social_networks %}
                    <h4 class="">{% trans 'Social' %}</h4>
                    <div class="card shadow-sm border-0 bg-white p-4 mb-5">
                        {% for social, link in object.social_networks.items %}
                            <p class="{% if forloop.last %}mb-0{% endif %}">
                                <a href="{{ link }}" target="_blank" class="social-item">
                                    <i class="fab fa-{{ social }}"></i>
                                    {{ social|capfirst }}
                                </a>
                            </p>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if object.booking_url %}
                    <h4 class="">{% trans 'Reservation via booking.com' %}</h4>
                    <div class="card shadow-sm border-0 bg-white p-4 mb-5">
                        <a target="_blank" class="d-flex flex-column align-items-center bg-white p-4" href="{{ object.booking_url }}">
                            <img class="size-full wp-image-15120 aligncenter" src="TODO" alt="" width="300" height="142">
{#                            <p class="text-center text-secondary mb-0"><strong>Referencie a poloha v google mapách</strong></p>#}
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{#    <div class="container">#}
{#        <div class="row my-5">#}
{#            <div class="col-12">#}
{#                <h2>{{ object.title }}</h2>#}
{#                <div><b>slug</b>: {{ object.slug|default:'-' }}</div>#}
{#                <div><b>description</b>: {{ object.description|default:'-' }}</div>#}
{#                <div><b>author</b>: {{ object.author|default:'-' }}</div>#}
{#                <div><b>published</b>: {{ object.published|default:'-' }}</div>#}
{#                <div><b>promoted</b>: {{ object.promoted|default:'-' }}</div>#}
{#                <div><b>categories</b>: {{ object.categories.all|default:'-' }}</div>#}
{#                <div><b>features</b>: {{ object.features.all|default:'-' }}</div>#}
{#                <div><b>price_starts_at</b>: {{ object.price_starts_at|default:'-' }}</div>#}
{#                <div><b>price</b>: {{ object.price|default:'-' }}</div>#}
{#                <div><b>price_unit</b>: {{ object.price_unit|default:'-' }}</div>#}
{#                <div><b>locality</b>: {{ object.locality|default:'-' }}</div>#}
{#                <div><b>street</b>: {{ object.street|default:'-' }}</div>#}
{#                <div><b>postcode</b>: {{ object.postcode|default:'-' }}</div>#}
{#                <div><b>city</b>: {{ object.city|default:'-' }}</div>#}
{#                <div><b>country</b>: {{ object.country|default:'-' }}</div>#}
{#                <div><b>address</b>: {{ object.address|default:'-' }}</div>#}
{#                <div><b>point</b>: {{ object.point|default:'-' }}</div>#}
{#                <div><b>image</b>: {{ object.image|default:'-' }}</div>#}
{#                <div><b>banner</b>: {{ object.banner|default:'-' }}</div>#}
{#                <div><b>person</b>: {{ object.person|default:'-' }}</div>#}
{#                <div><b>phone</b>: {{ object.phone|default:'-' }}</div>#}
{#                <div><b>email</b>: {{ object.email|default:'-' }}</div>#}
{#                <div><b>website</b>: {{ object.website|default:'-' }}</div>#}
{#                <div><b>social_networks</b>: {{ object.social_networks|default:'-' }}</div>#}
{#                <div><b>comments</b>: {{ object.comments|default:'-' }}</div>#}
{#                <div><b>created</b>: {{ object.created|default:'-' }}</div>#}
{#                <div><b>modified</b>: {{ object.modified|default:'-' }}</div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

    <script>
        jQuery(document).ready(function ($) {
            var lightbox = new SimpleLightbox('.gallery a', { /* options */});

            $(".second-navbar .nav-link").click(function (e) {
                e.preventDefault();
                const aid = $(this).attr("href");
                const offset = $(aid).offset().top - $('header').height();
                $('html,body').animate({scrollTop: offset}, 'slow');
            });

            $(".show-contact").click(function (e) {
                $(this).addClass('hide');
                $(".contact-content").addClass('show');

                {#setTimeout(function () {#}
                {#    $(".show-contact").remove();#}
                {#}, 1500);#}
            });
        });
    </script>
{% endblock %}