header {
    background-color: #fff;
    //border-top: .4rem solid;
    //border-image-source: linear-gradient(45deg, rgb(42, 204, 195), rgb(71, 64, 222));
    //border-image-slice: 1;

    .header-top {
        background-color: #f8f8f8;
        height: 24px;

        #language-switcher {
            .nav-link {
                padding: 0 1rem 0 0;
                color: map-get($theme-colors, light);

                &.active, &:hover {
                    color: map-get($theme-colors, primary) !important;
                }
            }

            li {
                color: map-get($theme-colors, light);
                position: relative;

                +li:before {
                    position: absolute;
                    left: -.65rem;
                    content: '|';
                }
            }
        }
    }

    .header-middle {

        > .row {
            min-height: 80px;
        }

        .logo {
            max-height: 44px;
        }
    }

    .header-bottom {
        background-color: darken(map_get($theme-colors, primary), 20%);

        .navbar {
            padding: 0;

            .nav-item {
                white-space: nowrap;
                font-size: .86rem;
                font-weight: 600;
                text-transform: uppercase;
                padding-left: .6rem;
                padding-right: .6rem;
                //padding-left: 0;
                //padding-right: 0;
                //margin-left: .6rem;
                //margin-right: .6rem;
                border-radius: 0 !important;
                height: 45px;
                display: flex;
                align-items: center;
                //position: relative;
                transition: $di-transition;

                &:hover {
                    border-radius: $border-radius-sm;
                    background-color: map_get($theme-colors, primary);


                    //&:before {
                    //    content: '';
                    //    position: absolute;
                    //    width: 100%;
                    //    height: 4px;
                    //    top: -2px;
                    //    left: 0;
                    //    background-color: map_get($theme-colors, primary);
                    //}
                }

                .nav-link {
                    background-image: none;
                    color: #fff;
                    position: relative;
                    transition: $di-transition;
                    z-index: 1;

                    //&:before {
                    //    background-image: linear-gradient(45deg, rgb(31, 183, 234), rgb(28, 165, 233));
                    //    opacity: 0;
                    //    position: absolute;
                    //    content: '';
                    //    left: 0;
                    //    right: 0;
                    //    top: 0;
                    //    bottom: 0;
                    //    z-index: -1;
                    //    transition: $di-transition;
                    //}

                    //&:hover {
                    //    border-radius: $border-radius-sm;
                    //    background-color: map_get($theme-colors, primary);

                    //&:before {
                    //    opacity: 1;
                    //}
                }
            }
        }
    }
}
