.top-full-width {
    align-items: center;
    background-image: url("/static/images/polygonal_mountains_stretched_o70_2.jpg");
    background-position: center center;
    background-size: cover;
    border-bottom: 1px solid #d7d7d747;
    display: flex;
    height: 10rem;
}