{% extends "layout.html" %}

{% load i18n %}

{% block head_title %}{% trans "Dashboard" %}{% endblock %}

{% block content %}
    <div class="container-fluid border-bottom">
        <div class="container">
            <div class="row py-5 my-3">
                <div class="col-lg-5 mx-auto">
                    <h1>{% trans "My dashboard" %}</h1>
                    <p>TODO: challenges, orders, payments, invoices...</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
