{% extends "layout.html" %}

{% load i18n account crispy_forms_tags %}

{% block head_title %}{% trans "Profile" %}{% endblock %}

{% block content %}
    <div class="container user-profile-form-page">
        <div class="row py-5 my-3">
            <div class="col-lg-10 mx-auto">
                <h1>{% trans "My profile" %}</h1>
                <p>{% trans 'Your personal information' %}</p>
                {% crispy form %}
            </div>
        </div>
    </div>

    <script>
        jQuery(document).ready(function ($) {
            const avatarElement = $('#div_id_avatar a');

            if (avatarElement) {
                const imgLink = avatarElement.attr('href');
                avatarElement.html('<img class="img-fluid" src="'+ imgLink +'" alt="avatar">');
            }
        });
    </script>
{% endblock %}
