{% load i18n crispy_forms_tags %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-7 text-lg-left text-center">
                <h2>{% trans 'Join our newsletter' %}</h2>
                <p>{% trans 'Subscribe our newsletter to receive the latest news and exclusive offers.' %}</p>
            </div>
            <div class="col-lg-5 d-flex align-items-center justify-content-lg-end justify-content-center">
                {% crispy newsletter_form %}
            </div>
        </div>
    </div>
</section>
