.listing-item {
    $bg-color: map_get($theme-colors, primary);
    position: relative;
    margin-bottom: $grid-gutter-width;

    .listing-label {
        background-color: lighten($bg-color, 10%);
        color: #fff;
        font-size: .93rem;
        left: 0;
        min-width: 3rem;
        position: absolute;
        padding: .21rem 1.07rem;
        top: 0;
    }

    .listing-image {
        min-height: 18rem;
        position: relative;

        &:before {
            background: linear-gradient(#0000002b 10rem, #000);
            content: '';
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }

    .listing-ribbon {
        position: absolute;
        height: 6rem;
        right: 0;
        overflow: hidden;
        z-index: 1;
        text-align: right;
        top: 0;
        width: 6rem;

        span {
            box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
            background-color: lighten($bg-color, 10%);
            background: linear-gradient(lighten($bg-color, 20%) 0%, lighten($bg-color, 5%) 100%);
            color: #FFF;
            display: block;
            font-size: .9rem;
            font-weight: bold;
            line-height: 1.8rem;
            position: absolute;
            right: -1.8rem;
            text-transform: uppercase;
            text-align: center;
            top: 1.3rem;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            width: 8.4rem;
        }
    }

    .listing-name {
        //background-color: darken($bg-color, 10%);
        bottom: 0;
        color: #fff;
        padding: 1.21rem 1.43rem;
        position: absolute;
        transition: $di-transition;
        width: 100%;

        strong {
            display: block;
            font-size: 1.5rem;
            font-weight: 400;
            margin: .5rem 0 .3rem 0;
        }

        small {
            opacity: .6;
            font-size: 1rem;
        }

        .listing-category {
            background-color: darken(map_get($theme-colors, warning), 16%);
            bottom: 0;
            color: #fff;
            border-radius: 1rem;
            font-weight: 300;
            font-size: .8rem;
            padding: .4rem .8rem;
            text-transform: uppercase;
        }
    }

    .listing-price {
        align-items: center;
        background-color: #fff;
        border-radius: 1rem;
        color: map_get($theme-colors, light);
        display: flex;
        font-size: .9rem;
        left: 1.5rem;
        line-height: 1.5rem;
        min-width: 3rem;
        position: absolute;
        padding: 0 .5rem 0 .2rem;
        top: 1.5rem;

        i {
            background-color: map_get($theme-colors, success);
            color: #fff;
            border-radius: 50%;
            padding: .3rem .25rem .2rem .3rem;
            font-size: .6rem;
        }
    }

    .listing-contact {
        $color-light: map_get($theme-colors, light);
        background-color: lighten($color-light, 33%);
        color: $color-light;
        display: flex;
        justify-content: space-between;
        padding: .71rem 1.43rem;
    }

    .listing-rating {
        padding: .71rem 1.43rem;
    }
}