{% load i18n static thumbnail hitcount_tags %}

{#<div class="card rounded-0 shadow-sm listing-item">#}
{#    <a href="{{ object.get_absolute_url }}">#}
{#        <div class="listing-image {% if object.image %}bg-cover{% else %} d-flex align-items-center justify-content-center{% endif %}"#}
{#             {% if object.image %}style="background-image: url('{% thumbnail object.image "500" as thumbnail %}{{ thumbnail.url }}{% endthumbnail %}');" {% endif %}>#}
{#        </div>#}
{#        {% if object.price %}#}
{#            <div class="listing-price">#}
{#                <i class="fas fa-tag mr-2"></i>{{ object.get_price_display }}#}
{#            </div>#}
{#        {% endif %}#}
{#        {% if object.promoted %}#}
{#            <div class="listing-ribbon">#}
{#                <span>{% trans 'TOP' %}</span>#}
{#            </div>#}
{#        {% endif %}#}
{#        <div class="listing-name">#}
{#            <span class="listing-category">#}
{#                {{ object.get_listing_type_display }}#}
{#            </span>#}
{#            <strong class="d-block">{{ object.title_i18n|capfirst }}</strong>#}
{#            {% if object.locality_title %}#}
{#                <small><i class="fas fa-map-marker-alt mr-2"></i>{{ object.locality_title }}</small>#}
{#            {% endif %}#}
{#        </div>#}
{#    </a>#}
{#</div>#}

<div class="row card card-small card-post card-post--1 position-relative mb-4">
    <div class="col-md-4 card-post__image"
         {% if object.image %}style="background-image: url('{% thumbnail object.image "500" as thumbnail %}{{ thumbnail.url }}{% endthumbnail %}');" {% endif %}>
        <a href="#" class="card-post__category badge badge-pill badge-info">{{ object.get_listing_type_display }}</a>
{#            <div class="card-post__author d-flex">#}
{#                <a href="#" class="card-post__author-avatar card-post__author-avatar--small" style="background-image: url('images/avatars/0.jpg');">Written by Anna Kunis</a>#}
{#            </div>#}
    </div>
    <div class="col-md-8 card-body">
        {% if object.promoted %}
            <div class="listing-ribbon">
                <span>{% trans 'TOP' %}</span>
            </div>
        {% endif %}
        <h5 class="card-title">
            <a class="text-fiord-blue" href="{% url 'inventor:manager:listings:listing_stats' object.slug_i18n %}">{{ object.title_i18n|capfirst }}</a>
        </h5>
        <div class="row">
            {% if object.locality_title %}
                <div class="col-md-6 text-muted mb-2">
                    <i class="fas fa-fw fa-map-marker-alt mr-2"></i>
                    <span>{{ object.locality_title }}</span>
                </div>
            {% endif %}
            {% if object.price %}
                <div class="col-md-6">
                    <span class="text-muted d-block">
                        <i class="fas fa-fw fa-money-bill mr-2 text-light opacity-50p"></i>
                        <a class="text-muted" href="{{ category.get_absolute_url }}">{{ object.get_price_display|capfirst }}</a>
                    </span>
                </div>
            {% endif %}
            <div class="col-md-6">
                <span class="text-muted d-block">
                    <i class="fas fa-fw fa-eye mr-2 text-light opacity-50p"></i>
                    <a class="text-muted" href="{{ category.get_absolute_url }}">{% trans 'Seen today' %}: {% get_hit_count for object within "days=1,minutes=30" %} ({% trans 'in total' %} {% get_hit_count for object %}x)</a>
                </span>
            </div>
            {% if object.categories.exists %}
                <div class="col-6">
                    <span class="text-secondary d-block">
                        <i class="fas fa-fw fa-folder mr-2 text-light opacity-50p"></i>
                        {% for category in object.categories.all %}
                            <a class="text-secondary" href="{{ category.get_absolute_url }}">{{ category }}{% if not forloop.last %}, {% endif %}</a>
                        {% endfor %}
                    </span>
                </div>
            {% endif %}
        </div>
{#            <p class="card-text d-inline-block mb-3">However venture pursuit he am mr cordial. Forming musical am hearing studied be luckily. But in for determine what would#}
{#                see...</p>#}
    </div>
</div>
