{% extends 'layout.html' %}
{% load static i18n %}

{% block top_full_width %}
    <div id="carouselHomeControls" class="carousel slide home-slider" data-ride="carousel" data-interval="10000" data-pause="false">
        <div class="carousel-inner">
            <div class="carousel-item active"><div class="bg-image" style="background-image: url('{% static 'images/14_lowest.jpg' %}')"></div></div>
            <div class="carousel-item"><div class="bg-image" style="background-image: url('{% static 'images/7_lowest.jpg' %}')"></div></div>
            <div class="carousel-item"><div class="bg-image" style="background-image: url('{% static 'images/12_lowest.jpg' %}')"></div></div>
            <div class="carousel-item"><div class="bg-image" style="background-image: url('{% static 'images/13_lowest.jpg' %}')"></div></div>
            <div class="carousel-item"><div class="bg-image" style="background-image: url('{% static 'images/9_lowest.jpg' %}')"></div></div>
            <div class="carousel-item"><div class="bg-image" style="background-image: url('{% static 'images/17_lowest.jpg' %}')"></div></div>
            <div class="carousel-item"><div class="bg-image" style="background-image: url('{% static 'images/21_lowest.jpg' %}')"></div></div>
            <div class="carousel-main">
                <h1 style="font-size:5rem; font-weight:600;">{% trans 'High Tatras and tourism' %}</h1>
                <h4 style="font-size:2rem; font-weight:300;">{% trans 'List of accommodation with direct contact to the owners' %}</h4>
                <div class="d-flex p-5">
                    <a class="col bg-white text-dark d-flex flex-column text-center p-3 mx-3" style="min-width: 150px;" href="{% url 'listings:accommodation_list' %}"><i class="fal fa-2x mt-2 fa-bed mb-3"></i> {% trans 'Accommodation' %}</a>
                    <a class="col bg-white text-dark d-flex flex-column text-center p-3 mx-3" style="min-width: 150px;" href="{% url 'listings:eatanddrink_list' %}"><i class="fal fa-2x mt-2 fa-utensils-alt mb-3"></i> {% trans 'Gastronomy' %}</a>
                    <a class="col bg-white text-dark d-flex flex-column text-center p-3 mx-3" style="min-width: 150px;" href="{% url 'listings:event_list' %}"><i class="fal fa-2x mt-2 fa-calendar-alt mb-3"></i> {% trans 'Events' %}</a>
                    <a class="col bg-white text-dark d-flex flex-column text-center p-3 mx-3" style="min-width: 150px;" href="{% url 'listings:trip_list' %}"><i class="fal fa-2x mt-2 fa-hiking mb-3"></i> {% trans 'Hiking' %}</a>
                    <a class="col bg-white text-dark d-flex flex-column text-center p-3 mx-3" style="min-width: 150px;" href="{% url 'listings:activity_list' %}"><i class="fal fa-2x mt-2 fa-island-tropical mb-3"></i> {% trans 'Relax' %}</a>
{#                    <a class="col bg-white text-dark d-flex flex-column text-center p-3 mx-3" style="min-width: 150px;" href="{% url 'listings:vacation_list' %}"><i class="fal fa-2x mt-2 fa-island-tropical mb-3"></i> {% trans 'Holiday' %}</a>#}
                    <a class="col bg-white text-dark d-flex flex-column text-center p-3 mx-3" style="min-width: 150px;" href="{% url 'listings:shop_list' %}"><i class="fal fa-2x mt-2 fa-shopping-cart mb-3"></i> {% trans 'Shopping' %}</a>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselHomeControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">{% trans 'Previous' %}</span>
        </a>
        <a class="carousel-control-next" href="#carouselHomeControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">{% trans 'Next' %}</span>
        </a>
    </div>
{% endblock %}

{% block content %}
    <section>
        <div class="container-fluid bg-light-translucent">
            <div class="container">
                <div class="row">
                    <div class="col my-5">
                        <h2 class="mt-4 text-center">
                            <strong>{% trans 'Selected accommodation' %}</strong> <span class="font-weight-light">{% now 'Y' %}</span>
                        </h2>
                        <h5 class="text-light font-weight-light text-center mb-3">{% trans 'Random picks from Hight Tatras' %}</h5>
                    </div>
                </div>
                <div class="row pb-5">
                    {% for object in top_accommodations %}
                        <div class="col-md-4">
                            {% include 'listings/widgets/listing_item.html' %}
                        </div>
                        {% empty %}{% trans 'No data to display' %}
                    {% endfor %}

                    <div class="col text-center">
                        <a href="{% url 'listings:listing_list' %}" class="btn btn-primary">{% trans 'Show more' %}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col my-5">
                    <h2 class="mt-4 text-center">
                        <span class="font-weight-light">{% trans 'Top wellness, High Tatras and surroundings' %} {% now 'Y' %}</span>
                    </h2>
                    <h5 class="text-light font-weight-light text-center mb-3">{% trans 'Other wellness places having sauna and whirlpool' %}</h5>
                </div>
            </div>
            <div class="row pb-5">
                <div class="col-lg-20p col-md-4 col-sm-6 col-12 col-12 text-center">
                    <a href="#" target="_blank" class="d-block mb-4">
                        <img width="175" height="175" src="{% static 'images/wellness/aquacity.jpg' %}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="">
                    </a>
                </div>
                <div class="col-lg-20p col-md-4 col-sm-6 col-12 text-center">
                    <a href="#" target="_blank" class="d-block mb-4">
                        <img width="175" height="175" src="{% static 'images/wellness/tatralandia.jpg' %}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="">
                    </a>
                </div>
                <div class="col-lg-20p col-md-4 col-sm-6 col-12 text-center">
                    <a href="#" target="_blank" class="d-block mb-4">
                        <img width="175" height="175" src="{% static 'images/wellness/besenova.jpg' %}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="">
                    </a>
                </div>
                <div class="col-lg-20p col-md-4 col-sm-6 col-12 text-center ml-lg-0 ml-md-auto">
                    <a href="#" target="_blank" class="d-block mb-4">
                        <img width="175" height="175" src="{% static 'images/wellness/kontakt.jpg' %}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="">
                    </a>
                </div>
                <div class="col-lg-20p col-md-4 col-sm-6 col-12 text-center mr-lg-0 mr-md-auto mx-sm-auto">
                    <a href="#" target="_blank" class="d-block mb-4">
                        <img width="175" height="175" src="{% static 'images/wellness/vrbov.jpg' %}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container-fluid bg-light-translucent">
            <div class="container mb-4">
                <div class="row">
                    <div class="col my-5">
                        <h2 class="mt-4 text-center">
                            <strong>{% trans 'Hiking in High Tatras' %}</strong>
                        </h2>
                        <h5 class="text-light font-weight-light text-center mb-3">{% trans 'Season is open and welcomes tourists from all over the world.' %}</h5>
                    </div>
                </div>
                <div class="row pb-5">
                    <div class="col-lg-6">
                        <div class="accordion" id="accordionFAQ1">
                            <div class="card">
                                <div class="card-header border-0 bg-white" id="headingOne">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                            Tatranské informačné centrá
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </h2>
                                </div>

                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionFAQ1">
                                    <div class="card-body">
                                        <div class="faq-item-answer" aria-expanded="false">
                                            <p class="text-center">
                                                <img class="img-fluid" src="{% static 'images/faq/info.jpg' %}">
                                            </p>
                                            <p class="text-center">
                                                <strong>TIK Štrbské Pleso: </strong>+421 911 333 466
                                            </p>
                                            <p class="text-center">
                                                <strong>TIK Starý Smokovec: </strong>+421 52 442 34 40
                                            </p>
                                            <p class="text-center">
                                                <strong>TIK Tatranská Lomnica: </strong>+421 52 446 81 19
                                            </p>
                                            <p class="text-center">
                                                <strong>MIK Poprad: </strong>+421 52 16 186
                                            </p>
                                            <p class="text-center">
                                                <strong>Viac informácii o Tatranských informačných centrách nájdete <a href="https://tatrytravel.sk/turistika/?travel-activities%5B%5D=informacne-centra" target="_blank" rel="noopener">tu</a>.</strong>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header border-0 bg-white" id="headingTwo">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                                aria-controls="collapseTwo">
                                            Čo sa rozumie pod možnosťou vybavenia sauna/vírivka?
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionFAQ1">
                                    <div class="card-body">
                                        <div class="faq-item-answer" aria-expanded="false">
                                            <p>Pod touto možnosťou vybavenia sa rozumie, že ubytovacie zariadenie disponuje iba jednou z týchto možností. Viac ubytovacích zariadení, ktoré sú vybavené saunou alebo vírivkou nájdete <a href="https://tatrytravel.sk/ubytovanie/?vybavenie_ubytovania%5B%5D=sauna" target="_blank" rel="noopener">tu</a>.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header border-0 bg-white" id="headingThree">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                                                aria-controls="collapseThree">
                                            Ako je to s obsadenosťou chát – penziónov ?
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionFAQ1">
                                    <div class="card-body">
                                        <p>Počas letných prázdnin, prevažná časť ubytovania vo Vysokých Tatrách ponúka len týždňové pobyty a rezervovať si ich treba už v zime či jari. Mimo sezóny je ubytovanie v Tatrách na víkendy dostupnejšie.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header border-0 bg-white" id="headingFour">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false"
                                                aria-controls="collapseFour">
                                            Kedy platím za ubytovanie najmenej ?
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionFAQ1">
                                    <div class="card-body">
                                        <p>Ak si rezervujete ubytovanie cez priame kontakty na ubytovateľov napr. z www.tatrytravel.sk. Zľavu môžete získať, aj keď platíte v hotovosti, pripadne si zľavu dohodnete priamo s majiteľom ubytovania na mieste.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="accordion" id="accordionFAQ2">
                            <div class="card">
                                <div class="card-header border-0 bg-white" id="headingOne">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                            Dôležité kontakty Výsoké Tatry
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </h2>
                                </div>

                                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionFAQ2">
                                    <div class="card-body">
                                        <div class="faq-item-answer" aria-expanded="false">
                                            <p class="text-center">
                                                <img class="img-fluid" src="{% static 'images/faq/hzs.jpg' %}" alt="">
                                            </p>
                                            <p class="text-center">
                                                <b>Tiesňová linka: </b>18 300
                                            </p>
                                            <p class="text-center">
                                                <strong>Operačné stredisko tiesňového volania: </strong>operacne@hzs.sk
                                            </p>
                                            <p class="text-center">
                                                <strong>Adresa: </strong>Oblastné stredisko HZS Starý Smokovec 23
                                            </p>
                                            <p class="text-center">
                                                <strong>Tel.č.: </strong>+421 52 442 28 20
                                            </p>
                                            <p class="text-center">
                                                <strong>E-mail: </strong>vtatry@hzs.sk
                                            </p>
                                            <p class="text-center mb-4">
                                                <strong>Web: </strong>www.hzs.sk
                                            </p>

                                            <p class="text-center">
                                                <img class="img-fluid" src="{% static 'images/faq/pzsr.jpg' %}" alt="">
                                            </p>
                                            <p class="text-center">
                                                <strong>Tiesňová linka: </strong>158
                                            </p>
                                            <p class="text-center">
                                                <strong>Adresa: </strong>Nový Smokovec 20, 062 01
                                            </p>
                                            <p class="text-center">
                                                <strong>Tel.č.: </strong>+421 52 442 23 33
                                            </p>
                                            <p class="text-center">
                                                <strong>Štrbské pleso tel.č.: </strong>+421 52 436 95 17
                                            </p>
                                            <p class="text-center mb-4">
                                                <strong>Informátor: </strong>+421 961 893 176 (pon-pia 7.30-15.30 hod.)
                                            </p>

                                            <p class="text-center">
                                                <img class="img-fluid" src="{% static 'images/faq/poliklinika.jpg' %}" alt="">
                                            </p>
                                            <p class="text-center">
                                                <strong>Tiesňové volanie: </strong>112, 155
                                            </p>
                                            <p class="text-center">
                                                <strong>Poliklinika Nový Smokovec/Pohotovosť: </strong>+421 52 442 24 44
                                            </p>
                                            <p class="text-center">
                                                <strong>Ordinačné hodiny: </strong>Pon-Pia 15.00-7.00 hod. So-Ne Nonstop
                                            </p>
                                            <p class="text-center">
                                                <strong>Detská pohotovosť – Nemocnica Poprad: </strong>+421 52 712 54 31
                                            </p>
                                            <p class="text-center">
                                                <strong>Ordinačné hodiny: </strong>Pon-Pia 15.30-7.00 hod. So-Ne 7.00-12.30 13.00-7.00 hod.
                                            </p>
                                            <p class="text-center mb-4">
                                                <strong>Detská poliklinika prízemie (posledný vchod vľavo) č. dverí 022</strong>
                                            </p>

                                            <p class="text-center">
                                                <img class="img-fluid" src="{% static 'images/faq/tanap.jpg' %}" alt="">
                                            </p>
                                            <p class="text-center">Aktuality súvisiace so sezónnymi uzáverami chodníkov vTatranskom národnom parku,</p>
                                            <p class="text-center">náučné chodníky, fauna a flóra národného parku,</p>
                                            <p class="text-center">otváracie hodiny Múzea TANAPu a Botanickej záhrady TANAPu + ďalšie informácie.</p>
                                            <p class="text-center">
                                                <strong>Tel.č.: </strong>+421 52 478 03 11
                                            </p>
                                            <p class="text-center mb-4">
                                                <strong>Web: </strong>www.lesytanap.sk
                                            </p>

                                            <p class="text-center">
                                                <img class="img-fluid" src="{% static 'images/faq/sprava.jpg' %}" alt="">
                                            </p>
                                            <p class="text-center">Návštevný poriadok, informácie o národnom parku z pohľadu ochrany prírody.</p>
                                            <p class="text-center">
                                                <strong>Web: </strong>www.spravatanap.sk
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header border-0 bg-white" id="headingTwo">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false"
                                                aria-controls="collapseSix">
                                            Čo sa rozumie pod kategóriou „wellness v objekte“ ?
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionFAQ2">
                                    <div class="card-body">
                                        <div id="faq-18969" class="faq-item-answer" aria-expanded="false" style="">
                                            <p>Pod túto kategóriu zahŕňame ubytovacie zariadenia, ktoré svojim hosťom ponúkajú širšiu ponuku pre možnosť relaxu a to minimálne saunu a vírivku. Viac ubytovacích zariadení s možnosťou wellnessu nájdete <a href="https://tatrytravel.sk/ubytovanie/?listing_categories%5B%5D=wellness-v-objekte" target="_blank" rel="noopener">tu</a>.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header border-0 bg-white" id="headingThree">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false"
                                                aria-controls="collapseSeven">
                                            Kde sa najlepšie najesť ?
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionFAQ2">
                                    <div class="card-body">
                                        <p>Ideálne je sa stravovať v reštauráciach s celoročnou prevádzkou.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container-fluid bg-light-translucent">
            <div class="row">
                <div class="col mt-5">
                    <h2 class="mt-4 text-center">
                        <strong>{% trans 'Localities' %}</strong>
                    </h2>
                    <h5 class="text-light font-weight-light text-center mb-3">{% trans 'in Hight Tatras' %}</h5>
                </div>
            </div>
                <div id="carousel-location" class="carousel slide py-5" >
                    <div class="carousel-inner row w-100 mx-auto" role="listbox">
                        {% for locality in localities %}
                            <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 {% if forloop.first %}active{% endif %}">
                                {% include 'lexicons/widgets/locality.html' %}
                            </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carousel-location" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">{% trans 'Previous' %}</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel-location" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">{% trans 'Next' %}</span>
                    </a>
                </div>
        </div>
    </section>

    <section>
        <div class="container mb-4 py-5 call-to-action">
            <div class="row">
                <div class="col-sm-auto d-flex align-items-center">
{#                    <i class="fal fa-3x fa-layer-group text-primary"></i>#}
                    <img class="logo img-fluid mr-2" src="{% static 'images/TatryTravel-logo.svg' %}" alt="logo">
                </div>
                <div class="col-sm d-flex justify-content-center flex-column">
                    <span>Máte nápad? Chcete  zdarma publikovať na stránke?</span>
                    <strong> Privítame fotografie, tipy na podujatia, turistiku, ubytovanie, stravovanie, nakupovanie atď ... </strong>
                </div>
                <div class="col-sm-3 d-flex align-items-center">
                    <a href="https://tatrytravel.sk/kontakt/" class="btn btn-lg btn-primary">Neváhajte a kontaktujte nás</a>
                </div>
            </div>
        </div>
    </section>

    <script>
        jQuery(document).ready(function ($) {
            $('#carousel-location').on('slide.bs.carousel', function (e) {
                var $e = $(e.relatedTarget);
                var idx = $e.index();
                var itemsPerSlide = 7;
                var totalItems = $('#carousel-location .carousel-item').length;

                if (idx >= totalItems - (itemsPerSlide - 1)) {
                    var it = itemsPerSlide - (totalItems - idx);
                    for (var i = 0; i < it; i++) {
                        // append slides to end
                        if (e.direction == "left") {
                            $('#carousel-location .carousel-item').eq(i).appendTo('#carousel-location .carousel-inner');
                        } else {
                            $('#carousel-location .carousel-item').eq(0).appendTo('#carousel-location .carousel-inner');
                        }
                    }
                }
            });
        });
    </script>

{% endblock %}