{% extends 'layout.html' %}
{% load static i18n %}

{% block top_full_width %}
    <div id="carouselHomeControls" class="carousel slide home-slider" data-ride="carousel" data-interval="10000" data-pause="false">
        <div class="carousel-inner">
            <div class="carousel-item active"><div class="bg-image" style="background-image: url('{% static 'images/14_lowest.jpg' %}')"></div></div>
            <div class="carousel-item"><div class="bg-image" style="background-image: url('{% static 'images/7_lowest.jpg' %}')"></div></div>
            <div class="carousel-item"><div class="bg-image" style="background-image: url('{% static 'images/12_lowest.jpg' %}')"></div></div>
            <div class="carousel-item"><div class="bg-image" style="background-image: url('{% static 'images/13_lowest.jpg' %}')"></div></div>
            <div class="carousel-item"><div class="bg-image" style="background-image: url('{% static 'images/9_lowest.jpg' %}')"></div></div>
            <div class="carousel-item"><div class="bg-image" style="background-image: url('{% static 'images/17_lowest.jpg' %}')"></div></div>
            <div class="carousel-item"><div class="bg-image" style="background-image: url('{% static 'images/21_lowest.jpg' %}')"></div></div>
            <div class="carousel-main">
                <h1 style="font-size:5rem; font-weight:600;">{% trans 'High Tatras and tourism' %}</h1>
                <h4 style="font-size:2rem; font-weight:300;">{% trans 'List of accommodation with direct contact to the owners' %}</h4>
                <div class="d-flex p-5">
                    <a class="col bg-white text-dark d-flex flex-column text-center p-3 mx-3" style="min-width: 150px;" href="{% url 'listings:accommodation_list' %}"><i class="fal fa-2x mt-2 fa-bed mb-3"></i> {% trans 'Accommodation' %}</a>
                    <a class="col bg-white text-dark d-flex flex-column text-center p-3 mx-3" style="min-width: 150px;" href="{% url 'listings:eatanddrink_list' %}"><i class="fal fa-2x mt-2 fa-utensils-alt mb-3"></i> {% trans 'Gastronomy' %}</a>
                    <a class="col bg-white text-dark d-flex flex-column text-center p-3 mx-3" style="min-width: 150px;" href="{% url 'listings:event_list' %}"><i class="fal fa-2x mt-2 fa-calendar-alt mb-3"></i> {% trans 'Events' %}</a>
                    <a class="col bg-white text-dark d-flex flex-column text-center p-3 mx-3" style="min-width: 150px;" href="{% url 'listings:trip_list' %}"><i class="fal fa-2x mt-2 fa-hiking mb-3"></i> {% trans 'Hiking' %}</a>
                    <a class="col bg-white text-dark d-flex flex-column text-center p-3 mx-3" style="min-width: 150px;" href="{% url 'listings:activity_list' %}"><i class="fal fa-2x mt-2 fa-island-tropical mb-3"></i> {% trans 'Relax' %}</a>
{#                    <a class="col bg-white text-dark d-flex flex-column text-center p-3 mx-3" style="min-width: 150px;" href="{% url 'listings:vacation_list' %}"><i class="fal fa-2x mt-2 fa-island-tropical mb-3"></i> {% trans 'Holiday' %}</a>#}
                    <a class="col bg-white text-dark d-flex flex-column text-center p-3 mx-3" style="min-width: 150px;" href="{% url 'listings:shop_list' %}"><i class="fal fa-2x mt-2 fa-shopping-cart mb-3"></i> {% trans 'Shopping' %}</a>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselHomeControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">{% trans 'Previous' %}</span>
        </a>
        <a class="carousel-control-next" href="#carouselHomeControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">{% trans 'Next' %}</span>
        </a>
    </div>
{% endblock %}

{% block content %}
    <section>
        <div class="container-fluid bg-light-translucent">
            <div class="container">
                <div class="row">
                    <div class="col my-5">
                        <h2 class="mt-4 text-center">
                            <strong>{% trans 'Selected accommodation' %}</strong> <span class="font-weight-light">{% now 'Y' %}</span>
                        </h2>
                        <h5 class="text-light font-weight-light text-center mb-3">{% trans 'Random picks from Hight Tatras' %}</h5>
                    </div>
                </div>
                <div class="row pb-5">
                    {% for object in top_accommodations %}
                        <div class="col-md-4">
                            {% include 'listings/widgets/listing_item.html' %}
                        </div>
                        {% empty %}{% trans 'No data to display' %}
                    {% endfor %}

                    <div class="col text-center">
                        <a href="{% url 'listings:listing_list' %}" class="btn btn-primary">{% trans 'Show more' %}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col my-5">
                    <h2 class="mt-4 text-center">
                        <span class="font-weight-light">{% trans 'Top wellness, High Tatras and surroundings' %} {% now 'Y' %}</span>
                    </h2>
                    <h5 class="text-light font-weight-light text-center mb-3">{% trans 'Other wellness places having sauna and whirlpool' %}</h5>
                </div>
            </div>
            <div class="row pb-5">
                <div class="col-sm-20p text-center">
                    <a href="#" target="_blank">
                        <img width="175" height="175" src="{% static 'images/wellness/aquacity.jpg' %}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="">
                    </a>
                </div>
                <div class="col-sm-20p text-center">
                    <a href="#" target="_blank">
                        <img width="175" height="175" src="{% static 'images/wellness/tatralandia.jpg' %}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="">
                    </a>
                </div>
                <div class="col-sm-20p text-center">
                    <a href="#" target="_blank">
                        <img width="175" height="175" src="{% static 'images/wellness/besenova.jpg' %}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="">
                    </a>
                </div>
                <div class="col-sm-20p text-center">
                    <a href="#" target="_blank">
                        <img width="175" height="175" src="{% static 'images/wellness/kontakt.jpg' %}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="">
                    </a>
                </div>
                <div class="col-sm-20p text-center">
                    <a href="#" target="_blank">
                        <img width="175" height="175" src="{% static 'images/wellness/vrbov.jpg' %}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container-fluid bg-light-translucent">
            <div class="container mb-4">
                <div class="row">
                    <div class="col my-5">
                        <h2 class="mt-4 text-center">
                            <strong>{% trans 'Hiking in High Tatras' %}</strong>
                        </h2>
                        <h5 class="text-light font-weight-light text-center mb-3">{% trans 'Season is open and welcomes tourists from all over the world.' %}</h5>
                    </div>
                </div>
                <div class="row pb-5">
                    <div class="col-lg-6">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-header border-0 bg-white" id="headingOne">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Tatranské informačné centrá
                                        </button>
                                    </h2>
                                </div>

                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div id="faq-19018" class="faq-item-answer" aria-expanded="true" style="">
                                            <p><img class=" wp-image-19019 aligncenter" src="https://tatrytravel.sk/wp-content/uploads/2018/10/csm_TIC_9c3548e931-600x600.jpg" alt="" width="141" height="141" srcset="https://tatrytravel.sk/wp-content/uploads/2018/10/csm_TIC_9c3548e931-600x600.jpg 600w, https://tatrytravel.sk/wp-content/uploads/2018/10/csm_TIC_9c3548e931-300x300.jpg 300w, https://tatrytravel.sk/wp-content/uploads/2018/10/csm_TIC_9c3548e931.jpg 712w" sizes="(max-width: 141px) 100vw, 141px"></p>
                                            <p style="text-align: center;"><strong>TIK Štrbské Pleso:&nbsp;</strong>+421 911 333 466</p>
                                            <p style="text-align: center;"><strong>TIK Starý Smokovec:&nbsp;</strong>+421 52 442 34 40</p>
                                            <p style="text-align: center;"><strong>TIK Tatranská Lomnica:&nbsp;</strong>+421 52 446 81 19</p>
                                            <p style="text-align: center;"><strong>MIK Poprad:&nbsp;</strong>+421 52 16 186</p>
                                            <p style="text-align: center;"><strong>Viac informácii o Tatranských informačných centrách nájdete <a href="https://tatrytravel.sk/turistika/?travel-activities%5B%5D=informacne-centra" target="_blank" rel="noopener">tu</a>.</strong></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header border-0 bg-white" id="headingTwo">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                                aria-controls="collapseTwo">
                                            Čo sa rozumie pod možnosťou vybavenia sauna/vírivka?
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div id="faq-18971" class="faq-item-answer" aria-expanded="true" style="">
                                            <p>Pod touto možnosťou vybavenia sa rozumie, že ubytovacie zariadenie disponuje iba jednou z týchto možností. Viac ubytovacích zariadení, ktoré sú vybavené saunou alebo vírivkou nájdete <a href="https://tatrytravel.sk/ubytovanie/?vybavenie_ubytovania%5B%5D=sauna" target="_blank" rel="noopener">tu</a>.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header border-0 bg-white" id="headingThree">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                                                aria-controls="collapseThree">
                                            Ako je to s obsadenosťou chát – penziónov ?
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                    <div class="card-body">
                                        Počas letných prázdnin, prevažná časť ubytovania vo Vysokých Tatrách ponúka len týždňové pobyty a rezervovať si ich treba už v zime či jari. Mimo sezóny je ubytovanie v Tatrách na víkendy dostupnejšie.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header border-0 bg-white" id="headingFour">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false"
                                                aria-controls="collapseFour">
                                            Kedy platím za ubytovanie najmenej ?
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                                    <div class="card-body">
                                        Ak si rezervujete ubytovanie cez priame kontakty na ubytovateľov napr. z www.tatrytravel.sk. Zľavu môžete získať, aj keď platíte v hotovosti, pripadne si zľavu dohodnete priamo s majiteľom ubytovania na mieste.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-header border-0 bg-white" id="headingOne">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                                            Dôležité kontakty Výsoké Tatry
                                        </button>
                                    </h2>
                                </div>

                                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div id="faq-19011" class="faq-item-answer" aria-expanded="true" style="">
                                            <p><img class=" wp-image-19012 aligncenter" src="https://tatrytravel.sk/wp-content/uploads/2018/10/hzs.jpg" alt="" width="140" height="154"></p>
                                            <p style="text-align: center;"><b>Tiesňová linka:&nbsp;</b>18 300</p>
                                            <p style="text-align: center;"><strong>Operačné stredisko tiesňového volania:&nbsp;</strong>operacne@hzs.sk</p>
                                            <p style="text-align: center;"><strong>Adresa:&nbsp;</strong>Oblastné stredisko HZS Starý Smokovec 23</p>
                                            <p style="text-align: center;"><strong>Tel.č.:&nbsp;</strong>+421 52 442 28 20</p>
                                            <p style="text-align: center;"><strong>E-mail:&nbsp;</strong>vtatry@hzs.sk</p>
                                            <p style="text-align: center;"><strong>Web:&nbsp;</strong>www.hzs.sk</p>
                                            <p><img class=" wp-image-19014 aligncenter" src="https://tatrytravel.sk/wp-content/uploads/2018/10/1171569_pz-sr-logo-policia.jpg" alt="" width="141" height="139"></p>
                                            <p style="text-align: center;"><strong>Tiesňová linka:&nbsp;</strong>158</p>
                                            <p style="text-align: center;"><strong>Adresa:&nbsp;</strong>Nový Smokovec 20, 062 01</p>
                                            <p style="text-align: center;"><strong>Tel.č.:&nbsp;</strong>+421 52 442 23 33</p>
                                            <p style="text-align: center;"><strong>Štrbské pleso tel.č.:&nbsp;</strong>+421 52 436 95 17</p>
                                            <p style="text-align: center;"><strong>Informátor:&nbsp;</strong>+421 961 893 176 (pon-pia 7.30-15.30 hod.)</p>
                                            <p style="text-align: center;"><img class="alignnone wp-image-19015" src="https://tatrytravel.sk/wp-content/uploads/2018/10/poliklinika.jpg" alt="" width="140" height="133"></p>
                                            <p style="text-align: center;"><strong>Tiesňové volanie:&nbsp;</strong>112, 155</p>
                                            <p style="text-align: center;"><strong>Poliklinika Nový Smokovec/Pohotovosť:&nbsp;</strong>+421 52 442 24 44</p>
                                            <p style="text-align: center;"><strong>Ordinačné hodiny:&nbsp;</strong>Pon-Pia 15.00-7.00 hod. So-Ne Nonstop</p>
                                            <p style="text-align: center;"><strong>Detská pohotovosť – Nemocnica Poprad:&nbsp;</strong>+421 52 712 54 31</p>
                                            <p style="text-align: center;"><strong>Ordinačné hodiny:&nbsp;</strong>Pon-Pia 15.30-7.00 hod. So-Ne 7.00-12.30 13.00-7.00 hod.</p>
                                            <p style="text-align: center;"><strong>Detská poliklinika prízemie (posledný vchod vľavo) č. dverí 022</strong></p>
                                            <p style="text-align: center;"><img class="alignnone  wp-image-19016" src="https://tatrytravel.sk/wp-content/uploads/2018/10/Tanap.jpg" alt="" width="141" height="141"></p>
                                            <p style="text-align: center;">Aktuality súvisiace so sezónnymi uzáverami chodníkov v&nbsp;Tatranskom národnom parku,</p>
                                            <p style="text-align: center;">náučné chodníky, fauna a&nbsp;flóra národného parku,</p>
                                            <p style="text-align: center;">otváracie hodiny Múzea TANAPu a&nbsp;Botanickej záhrady TANAPu +&nbsp;ďalšie informácie.</p>
                                            <p style="text-align: center;"><strong>Tel.č.:&nbsp;</strong>+421 52 478 03 11</p>
                                            <p style="text-align: center;"><strong>Web:&nbsp;</strong>www.lesytanap.sk</p>
                                            <p><img class=" wp-image-19017 aligncenter" src="https://tatrytravel.sk/wp-content/uploads/2018/10/správa.jpg" alt="" width="95" height="142"></p>
                                            <p style="text-align: center;">Návštevný poriadok, informácie o&nbsp;národnom parku z&nbsp;pohľadu ochrany prírody.</p>
                                            <p style="text-align: center;"><strong>Web:&nbsp;</strong>www.spravatanap.sk</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header border-0 bg-white" id="headingTwo">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false"
                                                aria-controls="collapseSix">
                                            Čo sa rozumie pod kategóriou „wellness v objekte“ ?
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div id="faq-18969" class="faq-item-answer" aria-expanded="true" style="">
                                            <p>Pod túto kategóriu zahŕňame ubytovacie zariadenia, ktoré svojim hosťom ponúkajú širšiu ponuku pre možnosť relaxu a to minimálne saunu a vírivku. Viac ubytovacích zariadení s možnosťou wellnessu nájdete <a href="https://tatrytravel.sk/ubytovanie/?listing_categories%5B%5D=wellness-v-objekte" target="_blank" rel="noopener">tu</a>.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header border-0 bg-white" id="headingThree">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false"
                                                aria-controls="collapseSeven">
                                            Kde sa najlepšie najesť ?
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                                    <div class="card-body">
                                       Ideálne je sa stravovať v reštauráciach s celoročnou prevádzkou.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container-fluid bg-light-translucent">
            <div class="row">
                <div class="col my-5">
                    <h2 class="mt-4 text-center">
                        <strong>{% trans 'Localities' %} TODO: carousel</strong>
                    </h2>
                    <h5 class="text-light font-weight-light text-center mb-3">{% trans 'in Hight Tatras' %}</h5>
                </div>
            </div>
                <div id="carousel-location" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner row w-100 mx-auto" role="listbox">
                        {% for locality in localities %}
                            <div class="carousel-item col-12 col-sm-4 col-md-3 col-lg-2 {% if forloop.first %}active{% endif %}">
                                {% include 'lexicons/widgets/locality.html' %}
                            </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carousel-location" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">{% trans 'Previous' %}</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel-location" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">{% trans 'Next' %}</span>
                    </a>
                </div>
        </div>
    </section>

    <section>
        <div class="container mb-4 py-5">
            <div class="row">
                <div class="col-sm-9">
                    <span>Máte nápad? Chcete  zdarma publikovať na stránke?</span><strong> Privítame fotografie, tipy na podujatia, turistiku, ubytovanie, stravovanie, nakupovanie atď ... </strong>
                </div>
                <div class="col-sm-3">
                    <a href="https://tatrytravel.sk/kontakt/" class="btn btn-primary">Neváhajte a kontaktujte nás</a>
                </div>
            </div>
        </div>
    </section>

    <script>
        jQuery(document).ready(function ($) {
            $('#carousel-location').on('slide.bs.carousel', function (e) {
                var $e = $(e.relatedTarget);
                var idx = $e.index();
                var itemsPerSlide = 5;
                var totalItems = $('#carousel-location .carousel-item').length;

                if (idx >= totalItems - (itemsPerSlide - 1)) {
                    var it = itemsPerSlide - (totalItems - idx);
                    for (var i = 0; i < it; i++) {
                        // append slides to end
                        if (e.direction == "left") {
                            $('#carousel-location .carousel-item').eq(i).appendTo('#carousel-location .carousel-inner');
                        } else {
                            $('#carousel-location .carousel-item').eq(0).appendTo('#carousel-location .carousel-inner');
                        }
                    }
                }
            });
        });
    </script>

{% endblock %}