{% extends 'skeleton.html' %}
{% load static i18n %}

{% block body %}
    {% include 'commerce/discount_topbar.html' %}
    {% include 'helpers/messages.html' %}

    {#{% include 'helpers/environment-notice.html' %}#}

    {# Header #}
    {% include 'layout/header.html' %}

    {# Top fullwidth #}
    {% block top_full_width %}{% endblock %}

    {# Main #}
    {% block main %}
        <main class="{% block main_class %}{% endblock %}">
            {# Content #}
            {% block content %}{% endblock %}
        </main>
    {% endblock %}

    {# Bottom #}
    {% include 'layout/bottom.html' %}

    {# Footer #}
    {% include 'layout/footer.html' %}
{% endblock %}