{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <title>{{ settings.PAGE_TITLE }}</title>
        <meta charset="utf-8">
        <meta name="description" content="{{ settings.PAGE_DESCRIPTION }}" />
        <meta name="keywords" content="{{ settings.PAGE_KEYWORDS }}" />
        <meta name="author" content="Pragmatic Mates s.r.o." />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1">
        <meta name="apple-mobile-web-app-title" content="{{ settings.PAGE_APPLE_MOBILE_WEB_APP_TITLE }}">

        {% block meta %}{% endblock %}

        <link rel="icon" href="{% static 'images/TatryTravel-logo.svg' %}">
        <link rel="apple-touch-icon" href="{% static 'images/TatryTravel-logo.svg' %}">
        <link href="{% static 'css/inventor.css' %}?{{ settings.DEPLOYMENT_TIMESTAMP }}" rel="stylesheet" type="text/css">

        {% block css %}{% endblock %}

        <script src="{% static 'node_modules/jquery/dist/jquery.slim.min.js' %}"></script>
        <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>

        {% block priority_js %}{% endblock %}
        <script src="{% url 'javascript-catalog' %}"></script>
    </head>

    <body class="{% block body_class %}{% endblock %}{% if content_only %} content-only{% endif %}">
        {% block body %}
        {% endblock %}

        {#<script defer src="{% static 'assets/js/common.js' %}?{{ settings.DEPLOYMENT_TIMESTAMP }}"></script>#}

        {% block js %}{% endblock %}
    </body>
</html>
