{% load static i18n seo inventor %}
{% get_current_language as LANGUAGE_CODE %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        {% include 'helpers/google_tag_manager.html' %}
        {% include 'helpers/hotjar.html' %}
        {% seo as seo %}
        <title>{{ settings.PAGE_TITLE }}{% if seo.title %} | {{ seo.title }}{% endif %}</title>
        <meta charset="utf-8">
        <meta name="description" content="{% if seo.description %}{{ seo.description }}{% else %}{{ settings.PAGE_DESCRIPTION }}{% endif %}">
        <meta name="keywords" content="{% if seo.keywords %}{{ seo.keywords }}{% else %}{{ settings.PAGE_KEYWORDS }}{% endif %}">
        <meta name="author" content="{% if seo.author %}{{ seo.author }}{% else %}{{ settings.PAGE_AUTHOR }}{% endif %}">
        <meta property="og:title" content="{{ settings.PAGE_TITLE }}{% if seo.title %} | {{ seo.title }}{% endif %}">
        <meta property="og:description" content="{% if seo.description %}{{ seo.description }}{% else %}{{ settings.PAGE_DESCRIPTION }}{% endif %}">
        <meta property="og:url" content="{% uri request.path %}">
        <meta property="og:type" content="website">
        {% if seo.robots %}<meta name="robots" content="{{ seo.robots }}">{% endif %}
        {% if seo.image %}<meta property="og:image" content="{% uri seo.image %}">{% endif %}
        {% if seo.image_width %}<meta property="og:image:width" content="{{ seo.image_width }}">{% endif %}
        {% if seo.image_height %}<meta property="og:image:height" content="{{ seo.image_height }}">{% endif %}
        {% if seo.locale %}<meta property="og:locale" content="{{ seo.locale }}">{% endif %}
        <meta name="apple-mobile-web-app-title" content="{{ settings.PAGE_APPLE_MOBILE_WEB_APP_TITLE }}">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1">

        {% block meta %}{% endblock %}

        <link rel="icon" href="{% static 'images/favicon.png' %}">
        <link rel="apple-touch-icon" href="{% static 'images/logo.svg' %}">
        <link rel="canonical" href="{% uri request.path %}">
        <link href="{% static 'node_modules/bootstrap-slider/dist/css/bootstrap-slider.min.css' %}" rel="stylesheet">
        <link href="{% static 'node_modules/video.js/dist/video-js.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'node_modules/simplelightbox/dist/simple-lightbox.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/inventor.css' %}?v={{ deployment_timestamp }}" rel="stylesheet" type="text/css">
        <link href="{% static 'node_modules/simplelightbox/dist/simple-lightbox.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'node_modules/owl.carousel/dist/assets/owl.carousel.min.css' %}" rel="stylesheet" type="text/css">

        {% block css %}{% endblock %}

        <script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'node_modules/lazysizes/lazysizes.min.js' %}"></script>
        <script src="{% static 'node_modules/lazysizes/plugins/unveilhooks/ls.unveilhooks.min.js' %}"></script>
        <script src="{% static 'node_modules/lazysizes/plugins/bgset/ls.bgset.min.js' %}"></script>
        <script src="{% static 'node_modules/lazysizes/plugins/respimg/ls.respimg.min.js' %}"></script>

        {% block priority_js %}{% endblock %}
        <script src="{% url 'javascript-catalog' %}"></script>
    </head>

    <body class="{% block body_class %}{% endblock %}{% if content_only %} content-only{% endif %}">
        {% block body %}
        {% endblock %}

        {% include 'helpers/cookie_banner.html' %}

        <script defer src="{% static 'bower_components/moment/min/moment.min.js' %}"></script>
        <script defer src="{% static 'node_modules/simplelightbox/dist/simple-lightbox.min.js' %}"></script>
        <script defer src="{% static 'node_modules/bootstrap-slider/dist/bootstrap-slider.min.js' %}"></script>
        <script defer src="{% static 'bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>
        <script defer src="{% static 'node_modules/owl.carousel/dist/owl.carousel.min.js' %}"></script>
        <script defer src="{% static 'pragmatic/js/sliders.js' %}?v={{ deployment_timestamp }}"></script> {# django-pragmatic #}
        <script defer src="{% static 'pragmatic/js/forms.js' %}?v={{ deployment_timestamp }}"></script> {# django-pragmatic #}
        <script defer src="{% static 'pragmatic/js/date-and-time-picker.js' %}?v={{ deployment_timestamp }}"></script> {# django-pragmatic #}

        {% block js %}{% endblock %}
    </body>
</html>
