{% load i18n static thumbnail %}

<div class="card rounded-0 shadow-sm listing-item">
    <a href="{{ location.get_absolute_url }}">
        <div class="location-photo {% if location.photo %}bg-cover{% else %} d-flex align-items-center justify-content-center{% endif %}"
             {% if location.photo %}style="background-image: url('{% thumbnail location.photo "500" as thumbnail %}{{ thumbnail.url }}{% endthumbnail %}');" {% endif %}>
        </div>
        <div class="location-title">
            <strong class="d-block">{{ location.title|capfirst }}</strong>
            <small>{{ location.listing_set.distinct.count }} {% trans 'listings' %}</small>
        </div>
    </a>
</div>