{% load i18n static inventor %}

<mj-section background-color="#ffffff" padding="0">
    <mj-column width="100%" vertical-align="middle" padding="0">
        {% static 'images/logo.png' as path_to_logo %}
        <mj-image width="167px" src="{% uri path_to_logo %}" alt="{{ settings.PAGE_TITLE }}{% if view.title %} | {{ view.title }}{% elif view.object %} | {{ view.object }}{% endif %}" padding="0"></mj-image>
    </mj-column>
</mj-section>

<mj-section background-color="#ffffff" border-bottom="1px solid #d7dde5" padding-top="0" padding-bottom="0">
    <mj-column width="100%" vertical-align="middle">
        <mj-text align="left" text-transform="uppercase" font-weight="500" font-size="16px" color="#313133" padding-top="0" padding-bottom="15px">
{#            todo#}
        </mj-text>
    </mj-column>
</mj-section>