{% extends 'emails/email_layout.html' %}

{% load i18n %}

{% block email_body %}
<mj-section background-color="#ffffff" padding="0 34px">
    <mj-column vertical-align="middle" width="100%" padding-top="15px">
        <mj-text align="left" color="#313133" font-size="16px" font-weight="400" padding-bottom="20px" padding-top="3px">
            {% autoescape off %}
            {% blocktrans with site_name=current_site.name site_domain=current_site.domain %}Hello {{ user_display }}!
            <br><br>
            You're receiving this e-mail because you or someone else has requested a password for your user account.<br>
            It can be safely ignored if you did not request a password reset. Click the link below to reset your password.{% endblocktrans %}
            <br><br>
            {{ password_reset_url }}
            <br><br>
            {% if username %}{% blocktrans %}In case you forgot, your username is {{ username }}.{% endblocktrans %}
            <br><br>
            {% endif %}{% blocktrans with site_name=current_site.name site_domain=current_site.domain %}{{ site_name }} team!{% endblocktrans %}<br>
            {{ site_domain }}
            {% endautoescape %}
        </mj-text>
    </mj-column>
</mj-section>
{% endblock %}