{% load i18n %}

<div class="card mb-4 p-4">
    <div class="row">
        <div class="col-md-auto d-flex flex-column justify-content-center">
            <span class="d-block text-dark font-weight-500 mb-1">#{{ object.pk }}</span>
            <small class="mb-2">{{ object.created|date }}</small>
            <span class="badge badge-warning">{{ object.get_status_display }}</span>
        </div>
        <div class="col-md  d-flex flex-column justify-content-center">
            <a class="d-block h5 text-primary font-weight-500 mb-1" href="{% url 'inventor:manager:listings:listing_stats' object.listing.slug %}">{{ object.listing }}</a>
            {{ object.price|default:'-' }} EUR
        </div>
        <div class="col-md d-flex flex-column justify-content-center">
            <span class="d-block font-weight-light">{{ object.book_from|date }} - {{ object.book_to|date }}</span>
            <span class="d-block"><i class="fas fa-fw fa-user mr-2 text-light opacity-50p"></i>{{ object.number_of_persons }}</span>
        </div>
        <div class="col-md d-flex flex-column justify-content-center">
            <h5 class="text-dark">{{ object.person }}</h5>
            <span class="d-block mb-1"><i class="fas fa-fw fa-phone mr-2 text-light opacity-50p"></i>{{ object.phone }}</span>
            <span class="d-block"><i class="fas fa-fw fa-envelope mr-2 text-light opacity-50p"></i>{{ object.email }}</span>
        </div>

        {% if object.message %}
            <div class="col-12 pt-3">
                <h6 class="mb-1">{% trans 'Message' %}</h6>
                <p class="bg-light mb-0 border py-2 px-3">{{ object.message }}</p>
            </div>
        {% endif %}
    </div>
</div>
