{% load i18n flatpages_i18n %}

{% if not cookies_accepted %}
    <div id="cookie-banner" class="fixed-bottom text-center p-2 bg-dark text-white">
        <small>
            <p class="mb-0 d-inline-block">
                {% get_flatpage_i18n 'privacy' as privacy_policy_flatpage %}

                {% if privacy_policy_flatpage %}
                    {% blocktrans with url=privacy_policy_flatpage.get_absolute_url %}We use <a href="{{ url }}" target="_blank">cookies</a> to give you the best experience.{% endblocktrans %}
                {% else %}
                    {% trans 'We use cookies to give you the best experience.' %}
                {% endif %}
            </p>

            <button type="button" class="btn btn-link border-primary btn-sm ml-2 my-1" onclick="hideCookieBanner()">
                {% trans 'I understand' %}
            </button>
        </small>
    </div>
{% endif %}

<script>
    /*
    * Javascript to show and hide cookie banner using cookies
    */

    /**
     * Hides the Cookie banner and saves the value to cookies
     */
    function hideCookieBanner(){
        document.cookie = "isCookieAccepted=yes;path=/;max-age=28980000";
        let cookieBanner = document.getElementById("cookie-banner");
        cookieBanner.style.display = "none";
        document.querySelector('footer').style = 'margin-bottom: 0px';
    }

    /**
     * Checks the local storage and shows Cookie banner based on it.
     */
    function updateFooterMarginByCookieBanner(){
        let cookieBanner = document.getElementById("cookie-banner");

        if (cookieBanner !== null) {
            var height = cookieBanner.offsetHeight;
            document.querySelector('footer').style = 'margin-bottom: ' + height + 'px';
        }
    }

    {% if not cookies_accepted %}
        // Assigning values to window object
        window.onload = updateFooterMarginByCookieBanner();
    {% endif %}
</script>