{% load i18n static thumbnail %}

<div class="card rounded-0 shadow-sm listing-item">
    <a href="{{ object.get_absolute_url }}">
        <div class="listing-image {% if object.image %}bg-cover{% else %} d-flex align-items-center justify-content-center{% endif %}"
             {% if object.image %}style="background-image: url('{% thumbnail object.image "500" as thumbnail %}{{ thumbnail.url }}{% endthumbnail %}');" {% endif %}>

            {% if object.price %}
                <div class="listing-price">
                    <i class="fas fa-tag mr-2"></i>{{ object.get_price_display }}
                </div>
            {% endif %}
            {% if object.promoted %}
                <div class="listing-ribbon">
                    <span>{% trans 'TOP' %}</span>
                </div>
            {% endif %}
            <div class="listing-name">
                <span class="listing-category">
                    {{ object.get_listing_type_display }}
                </span>
                <strong class="d-block">{{ object.title|capfirst }}</strong>
                <small><i class="fas fa-map-marker-alt mr-2"></i>{{ object.location_title }}</small>
            </div>
        </div>
    </a>
</div>