{% load i18n %}

<a href="#" data-toggle="modal" data-target="#payment-modal-{{ order.id }}">
    {% trans 'Payment information' %}
</a>

<div class="modal fade" id="payment-modal-{{ order.id }}" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="payment-modal-{{ order.id }}-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="payment-modal-{{ order.id }}-label">{% trans 'Payment information' %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <strong>{% trans 'IBAN' %}:</strong> {{ iban }}<br>
          <strong>{% trans 'Amount' %}:</strong> {{ order.get_total_display }}<br>
          <strong>{% trans 'Note' %}:</strong> {{ order.user }}<br>
          <strong>{% trans 'Variable symbol' %}:</strong> <span class="text-danger">{{ order.number }}</span><br>
          <br>
          <span class="text-warning">{% trans 'It is important to use variable symbol above to correctly pair your payment with the order!' %}</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>