{% load i18n %}

<div class="top-listing">
    <div class="container">
        <div class="row">
            <div class="col-md">
                <h1 class="pt-4 pb-3">{{ object|title }}</h1>
                {#                    <nav aria-label="breadcrumb">#}
                {#                        <ol class="breadcrumb">#}
                {#                            <li class="breadcrumb-item"><a href="{% url 'inventor:home' %}">{% trans 'Home' %}</a></li>#}
                {#                            <li class="breadcrumb-item"><a href="{% url 'listings:listing_list' %}">{% trans 'Listings' %}</a></li>#}
                {#                            <li class="breadcrumb-item active" aria-current="page">Data</li>#}
                {#                        </ol>#}
                {#                    </nav>#}
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link {% if url_name == 'listing_stats' %}active{% endif %}" href="{% url 'inventor:manager:listings:listing_stats' object.slug %}">
                            <span>{% trans 'Statstics' %}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if url_name == 'listing_info' %}active{% endif %}" href="{% url 'inventor:manager:listings:listing_info' object.slug %}">
                            <span>{% trans 'Information' %}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if url_name == 'listing_bookings' %}active{% endif %}" href="{% url 'inventor:manager:listings:listing_bookings' object.slug %}">
                            <span>{% trans 'Bookings' %}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if url_name == 'listing_gallery' %}active{% endif %}" href="{% url 'inventor:manager:listings:listing_gallery' object.slug %}">
                            <span>{% trans 'Gallery' %}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if url_name == 'listing_reviews' %}active{% endif %}" href="{% url 'inventor:manager:listings:listing_reviews' object.slug %}">
                            <span>{% trans 'Reviews' %}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if url_name == 'listing_seo' %}active{% endif %}" href="{% url 'inventor:manager:listings:listing_seo' object.slug %}">
                            <span>{% trans 'SEO' %}</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-auto pt-4 pb-3">
                <div class="dropdown show">
                    <a class="btn btn-lg btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% trans 'Actions' %}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" target="_blank" href="{% url 'listings:listing_detail' object.slug %}">{% trans 'Show on website' %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
